{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "plugins": ["prettier", "react"],
  "globals": {
    "Package": true,
    "$": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 80
      }
    ],
    "react/jsx-curly-brace-presence": ["warn", { "props": "never", "children": "never" }],
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-direct-mutation-state": 0,
    "react/no-find-dom-node": 0,
    "no-console": 0,
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "settings": {
    "react": {
      "version": "16.4.2"
    }
  }
}
